:root{
  /* Main Colors - Used for links, button background color, etc. */
  --color-primary: hsl(60, 38%, 95%);

  /* Accent color - Used to highlight something important on a page, not a variant of primary color, but complimentary */
  --color-secondary: hsl(30, 93%, 57%);

  /* Shades - Neutral colors used for text elemnts, subtle elemtns, borders, etc. */
  --black: black
  --gray-10: hsl(0, 0%, 5%);
  --gray-9: hsl(0, 0%, 10%);
  --gray-8: hsl(0, 0%, 20%);
  --gray-6: hsl(0, 0%, 40%);
  --gray-4: hsl(0, 0%, 60%);
  --gray-2: hsl(0, 0%, 80%);
  --gray-1: hsl(0, 0%, 90%);
  --white: white;

  /* Feedback Colors - Success, Error, Warning */
  --color-success: hsl(94, 72%, 30%);
  --color-error: hsl(8, 71%, 47%);
  --color-warning: hsl(190, 73%, 46%);

}
body{
  /* background-color: var(--color-primary); */
  background: linear-gradient(var(--color-primary), var(--color-secondary));
  height: 100vh;
}