#NewCircuitForm-confirmationButton{
border: none;
background: var(--gray2);
}
.NewCircuitForm {
	display: table;
	empty-cells: show;
	align-items: center;
	justify-content: center;
	z-index: 9998;
	background: var(--gray-2);
	width: 100%;
	padding: 0.5rem 0;
}
.NewCircuitFormInputDiv {
	display: table-cell;
	text-align: center;
	width: 10%;
	padding-left: 0.5rem;
}
.NewCircuitFormInput {
	color: var(--color-secondary);
	text-align: center;
	border-radius: 5px;
	padding: 0;
	margin: 0;
	border: none;
	width: 25%;
}
.NewCircuitFormInput:focus {
	background-color: var(--white);
	color: var(--color-secondary);
	text-align: center;
	border-radius: 5px;
	padding: 0;
	margin: 0;
	border: 0px;
	width: 25%;
}
.ErrorMessage {
	display: table-cell;
	color: var(--color-error);
	width: 100%;
}
.ErrorMessage::before {
	content: "* ";
}
.NewCircuitFormErrorDiv {
	display: table-row;
}

.NewCircuitFormButton {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 0 10px;
	margin-left: 1rem;
	border: 1px solid var(--color-secondary);
	border-radius: 12px;
}
.NewCircuitFormButton:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	padding: 0 10px;
	margin-left: 1rem;
	border: 1px solid var(--color-pri);
	border-radius: 12px;
}