.AccountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-4);
  width: 100%;
  margin: 5rem auto;
}

.AccountContainer h3 {
  color: var(--white);
  margin-top: 3rem;
}

.AccountContainerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-6);
  height: 100%;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.AccountContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.AccountContentInputDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0.7rem;
    width: 25rem;
}
.AccountContentInputDiv span {
  border-right: 1px solid var(--gray-4);
  border-radius: 5px 0 0 5px;
  background-color: var(--white);
  padding: 0.3rem;
  text-decoration: none;
  flex-grow: 1;
  font-size: 12px;
}

.AccountContentInputDiv label {
    border-right: 1px solid var(--gray-8);
    border-radius: 5px 0 0 5px;
    background-color: var(--white);
    padding: 0.3rem;
    text-decoration: none;
    flex-grow: 1;
    width: 25%;
    font-size: 12px;

}

.AccountInput {
  background-color: var(--white);
  text-align: center;
  border-radius: 0 5px 5px 0;
  padding: 0;
  margin: 0;
  border: 0px;
  width: 70%;
  font-size: 12px;
}
.AccountInput::placeholder{
  color: var(--black)
}

.AccountButton {
  border-radius: 10px;
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
  font-size: 12px;
}

.AccountButton:hover {
  background: var(--gray-4);
  transition: all 0.35s;
}
