/* @media screen and (min-width: 400px){
    #ExerciseDetailsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        padding: rem;
        background: var(--color-primary);
        border-radius: 20px;
    }
    
    .exerciseDetailsContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h5{
        padding: 0;
        margin: 0;
    }

    .exerciseDetailsTextBody{
        display: flex;
    }
    
    
} */


/* @media screen and (min-width: 900px){ */
    /* #ExerciseDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
} */

@media screen and (min-width: 1300px){
    #ExerciseDetailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem 1rem 5rem;
        padding: 1rem;
        background-color: var(--gray-6);
        border-radius: 20px;
        height: 10rem;
        width: 12rem;
    }

    #ExerciseDetailsContainer:hover {
        background-color: var(--gray-6);
        box-shadow: 0px 3px 10px hsla(212, 11%, 80%);
        background: var(--color-primary-light);
        border: 2px solid hsla(212, 11%, 75%);
        transition: all .35s;
    }
    
    .exerciseDetailsContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    

    .exerciseDetailsContentBody{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    .exerciseDetailsContentBody span{
        text-decoration: underline;
        font-size: 12px;
    }
    .exerciseDetailsContentBody p{
        font-size: 12px;
    }

    .ExerciseDetailsContentHead{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: start;
    }

    .ExerciseDetailsContentBody div{
        display: flex;
        flex-direction: column;
    }
    .ExerciseDetailIcons{
        height: 1rem;
        width: 1rem;
        margin: 0 .2rem;
    }
    .ExerciseDetailIcons:hover{
        transition: all .15s;
        color: white;
    }
}