@media screen and (min-width: 1300px){
    #WorkoutSummaryContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem .5rem 0rem .5rem;
        padding: 1rem;
        background: var(--color-primary);
        border-radius: 20px;
    }

    #WorkoutSummaryContainer:hover {
        background-color: var(--gray-6);
        box-shadow: 0px 3px 10px hsla(212, 11%, 80%);
        background: var(--color-primary-light);
        border: 2px solid hsla(212, 11%, 75%);;
        transition: all .35s;
    }
    
    .WorkoutSummaryContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    

    .WorkoutSummaryContentBody{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    .WorkoutSummaryContentBody span{
        text-decoration: underline;
    }

    .WorkoutSummaryContentHead{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: start;
    }

    .WorkoutSummaryContentBody div{
        display: flex;
        flex-direction: column;
    }

    button {
        border-radius: 10px;
        padding: .2rem;
        margin-right: 1rem;    
    }
}