.NavBarContainer{
    background: var(--color-primary);
    position: sticky;
}

.toggleContent{
    background-color: white;
    margin: 3px 0;
    height: 3px;
    width: 20px;
    opacity: 100;
}

.NavBarHeader{
    text-align: center;
    background: var(--color-primary);
}

.NavBarHeader h4{
    color: white;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.NavBarBody{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    z-index: 999;
    text-align: center;
    transition: 1s;
    border-top: 1px solid white;
}

.offScreen {
    left: -25%;
}

.visible{
    left: 0;
}

.NavBarLinkContainer{
    display: flex;
    justify-content: center;
}
.NavBarMainLink{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.NavBarLink{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background: var(--gray-8);
    opacity: 95%;
    border-bottom: 1px solid var(--color-primary);
    padding: 1rem 0;
}

.NavBarLink:hover{
    text-decoration: none;
    font-size: 1.5rem;
    color: hsla(212, 11%, 50%);
    background-color: white;
    transition: .35s;
}