.FormModal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UpdateExerciseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9998;
  background-color: var(--gray-4);
  width: 35%;
  height: 40%;
  border-radius: 20px;
}
.UpdateExerciseInputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: .5rem 1.3rem;
  width: 90%;
  font-size: 14px;
}
.UpdateExerciseInputDiv label {
  border-right: 1px solid var(--gray-4);
  border-radius: 5px 0 0 5px;
  background-color: var(--white);
  padding: 0.3rem;
  text-decoration: none;
  flex-grow: 1;
  width: 30%;
  color: black;
}
.UpdateExerciseFormInput {
  background-color: var(--white);
  text-align: center;
  border-radius: 0 5px 5px 0;
  padding: 0;
  margin: 0;
  border: 0px;
  width: 100%;
  display: inline-box;
}
.ErrorMessage {
    color: var(--color-error);
    width: 100%;
  }
  .ErrorMessage::before {
    content: '* ';
  }
