@font-face {
    font-family: 'Fredoka';
    src: url('./Fredoka/static/Fredoka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Ubuntu';
    src: url('./Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

body{
    font-family: 'Ubuntu', sans-serif;
}