#UpdateCircuitForm{
    position: relative;
    width: 20rem;
    z-index: 9999;
    background-color: var(--gray-4);
    margin-top: 0;
}

.FormContentInputDiv{
    display: flex;
    justify-content: space-between;
}