@media screen and (min-width: 1300px) {
  #WorkoutListContainer {
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
  }
  .filterWorkoutDivider {
    display: flex;
    justify-content: center;
  }
  .filterWorkoutDividerInner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }

  .filtersection {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 90%;
    margin: 8rem 0 1rem 0;
    width: 20%;
    color: white;
  }
  .filtersection p {
    margin-top: 1rem;
  }
  .FilterForm {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    overflow-y: scroll;
    height: 15rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .workouthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--gray-6);
  }

  .workoutbody {
    display: grid;
    width: 100%;
    grid-template-columns: [start] 15rem [line2] 15rem [line3] 15rem [line4] 15rem [end];
    column-gap: 1rem;
    row-gap: 2rem;
  }

  .workoutsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 20px 20px 0;
    border: none;
    width: 90%;
    padding: 1rem;
    color: white;
  }

  .searchbar input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
    margin-right: 1rem;
  }
  .WorkoutFilterDiv{
    border-top: 1px solid white;
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  #wgerexercisesdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .arrow {
    margin: 0.5rem;
  }
  #addWorkoutButton {
    background-color: var(--color-primary);
    color: var(--gray-2);
    font-size: 40px;
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
