#wgerexercisecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: var(--gray-6);
  border-radius: 20px;
}

#wgerexercisecontainer:hover {
    background-color: var(--gray-6);
    box-shadow: 0px 3px 10px hsla(212, 11%, 80%);
    background: var(--color-primary-light);
    border: 2px solid hsla(212, 11%, 75%);
    transition: all 0.35s;
}
.wgerexercisecontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.wgerexercisecontenthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: start;
}

.wgerexercisecontentbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wgerexercisecontentbody div {
  display: flex;
  flex-direction: column;
}

h5 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0px;
}

.saveButton {
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.5rem 0 0 0;
  font-size: 12px;
}

div span {
  text-decoration: underline;
  font-size: 12px;
}
div p {
  font-size: 12px;
}
