#addCircuitButton{
    background-color: var(--color-primary);
    color: var(--gray-2);
    font-size: 40px;
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}.WorkoutDetailContainerInner{
    background: var(--color-primary);
    padding: 2rem;
}

.WorkoutDetailContainerHead{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-4);
    padding-bottom: 1rem;
}

.LinkElement{
    text-decoration: none;
    color: black;
}
.WorkoutDetailDivider{
    background: var(--color-primary-light);
    padding: 1rem;
    margin: .3rem;
    border-bottom: 1px solid var(--gray-4);

}

.dividerSection1{
    margin: 1rem 0 1rem 0;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    color: white;   
}

.dividerSection1 h3{
    color: var(--white);
    padding: 0;
    margin: 1rem;
}

.dividerSection2{
    display: grid;
    font-size: 1.5rem;
    row-gap: 2rem;
    column-gap: 5rem;
    grid-template-columns: [start] 10rem [line1] 10rem [line2] 10rem [end];
    align-items: center;
    color: var(--white);
    border-left: 1px solid var(--gray-4);
    padding-left: 1rem;
}
.dividerSection2 div{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dividerSection2 span{
    text-decoration: underline;
    font-size: 14px;
    text-align: right;
    padding-right: .4rem;
}
.dividerSection2 p{
    text-decoration: none;
    font-size: 14px;
}

.circuitSection{
    background: var(--color-primary-light);
    border-radius: 20px;
    padding: 1rem;
    margin: .3rem;
}

.faIcon{
    padding: 0;
    margin: 0;
}

.circuitSection h3 {
    color: var(--white);
}

.CircuitList{
    display: grid;
    grid-template-columns: [start] 20rem [line1] 20rem [line2] 20rem [end];
    column-gap: 5rem;
    row-gap: 2rem;
    width: 100%;
    justify-content: center;
}
.WorkoutDetailButton{
    border-radius: 10px;
    padding: 0.2rem;
    margin: 0.5rem 0 0 0;
    font-size: 12px;
    margin-left: .5rem;
}


